.ecm-admin-map-container {
    position: relative;
}

.ecm-admin-map {
    width: 100%;
    height: 350px;
    background-color: #eee;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

.ecm-pac-card {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    text-align: right;
    padding: 5px;
    z-index: 100;
}

.ecm-admin-pac-input {
    width: 100%;
    max-width: 320px;
    box-sizing: border-box;
    background-color: #fff;
    padding: .5em 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* No need to show Google logo in autocomplete since the map is shown */
.pac-logo::after {
    display: none !important;
}

input#ecmPacInput {
    max-width: 320px !important;
}

/* ddSlick / Select map symbol */
.dd-select {
    /*background: inherit !important;*/
    z-index: 9999;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    color: #32373c;
    outline: none;
    transition: 0.05s border-color ease-in-out;
    font-weight: normal !important;
}

.dd-select a {
    font-weight: normal !important;
    background-color: #fff !important;
}

.dd-selected,
.dd-selected:hover {
    font-weight: normal;
    color: #444;
    z-index: 9999;
}

.dd-options li {
    margin: 0 !important;
    padding: 0 !important;
}

.dd-option {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    z-index: 9999;
}

.dd-selected {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.dd-option-image,
.dd-selected-image {
    height: 32px !important;
    width: 32px !important;
}

.dd-selected-text {
    vertical-align: text-bottom !important;
}

.ecm-code {
    width: 100% !important;
    overflow-y: scroll;
    height: 60px !important;
}

.ecm-debug {
    background: rgba(255, 0, 0, 0.1);
    height: 200px !important;
}

.ecm-green {
    background: rgba(0, 255, 0, 0.1);
}

.cmb2-postbox .cmb2-wrap>.cmb-field-list>.cmb-row {
    padding: 0 !important;
}
